<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="static/assets/theme/css/style.css">
  <link rel="preload" as="style" href="static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="content7 cid-sHdYuMIVeD" id="content7-0">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <blockquote class="mbr-fonts-style display-4">
                    <br><br><br><br><br>
                <h5 class="mbr-section-title mbr-fonts-style mb-2" href=prediction><strong>Cevabımız:</strong></h5>
                    {{prediction}}</blockquote>
            </div>
        </div>
    </div>
</section>
  
  
</body>
</html>